<div style="display: flex; flex-flow: row wrap; justify-content:center">
  <div *ngFor="let item of items" style="margin : 25px" >
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{item.title}}</mat-card-title>
        <mat-card-subtitle>{{item.price}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="item.image" alt="Photo of a product">
      <mat-card-content>
        <p>{{item.description}}</p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="accent">Add to Cart</button>
        <div fxFlex></div>
        <button mat-raised-button color="accent">Add to Wishlist</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
